@import "tailwindcss";
@import 'primeicons/primeicons.css';

@theme{
  --color-*: initial;
  --color-primary: #65b045;
  --color-secondary: #396732;
  --color-blue: #62c6c0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown-light: #ce8d4a;
  --color-brown-medium: #825a30;
  --color-brown-dark: #6d461b;
  --color-secondary-faded: #39673250;
  --color-white-faded: #FFFFFF50;
  --color-green-neon:  #46f20d;
  --color-green-neon-faded: #46f20d50;
  --color-offwhite: #F1F1EA;
}

html, body {
  width: 100%;
  background: var(--color-brown-medium);
}

h1 {
  color: var(--color-offwhite);
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  color: var(--color-primary);
  font-size: x-large;
}

h3 {
  font-size: large;
}

h4 {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  color: var(--color-secondary);
  font-size: medium;
  font-weight: 500;
}

h6 {
  color: var(--color-primary);
  font-size: large;
  font-weight: bold;
  font-style: italic;
}


