@import "tailwindcss";
@import 'primeicons/primeicons.css';

@theme{
  --color-*: initial;
  --color-primary: #65b045;
  --color-secondary: #396732;
  --color-blue: #62c6c0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown-light: #ce8d4a;
  --color-brown-medium: #825a30;
  --color-brown-dark: #6d461b;
  --color-secondary-faded: #39673250;
  --color-white-faded: #FFFFFF50;
}

html, body {
  width: 100%;
  background: var(--color-brown-dark);
}

h1 {
  color: var(--color-primary);
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  color: var(--color-primary);
  font-size: x-large;
}

h3 {
  color: var(--color-primary);
  font-size: large;
  font-style: italic;
}
h4 {
  color: var(--color-primary);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: var(--color-blue);
}
